<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="#{login.title}">Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <h2 th:text="#{login.title}">Iniciar Sesión</h2>
    <form method="post" action="/login">
        <label for="username" th:text="#{form.username} + ':'">Usuario:</label>
        <input type="text" id="username" name="username" required>

        <label for="password" th:text="#{form.password} + ':'">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" th:text="#{login.button}">Ingresar</button>
    </form>

    <p>
        <span th:text="#{login.noAccount}">¿No tienes una cuenta?</span>
        <a href="/register" th:text="#{login.linkRegister}">Regístrate aquí</a>
    </p>

</div>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
